{% extends "layout.jinja2" %}
{% block content %}
    <h1>Comparar View {{ q }} </h1>
    <div class="container-fluid card">

        <table class="table">
            <thead>
            <tr>
                <th id="tienda-col" scope="col" class="text-center">Tienda</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio Online</th>
            </tr>
            </thead>
            <tbody>
            {% for store in stores %}
                <tr>
                    <th class="mx-auto text-center">
                        <figure class="figure">
                            <img
                                    id="logo-store"
                                    class="figure-img img-fluid rounded"
                                    src={{ url_for('compare_feature_blueprint.static', filename='img/stores/') ~ store.photo }}
                            >
                            <figcaption class="figure-caption text-center"> {{ store.name }}</figcaption>
                        </figure>
                    </th>
                    <td>
                        <figure class="figure">
                            <img
                                    id="logo-store"
                                    class="figure-img img-fluid rounded"
                                    src={{ store.product.photo }}
                            >
                        </figure>
                        {{ store.product.name }}
                    </td>
                    <td>S/ {{ store.product.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}