{% extends "layout.jinja2" %}
{% block content %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th id="tienda-col" scope="col" class="text-left">Tienda</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio Online</th>
        </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <th class="mx-auto px-auto text-left">
                    <figure class="figure p-0 m-0">
                        <img
                                id="logo-store"
                                class="figure-img img-fluid rounded m-0 p-0"
                                src={{ url_for('compare_feature_blueprint.static', filename='img/stores/',
                                 _external = True) ~ store.photo }}
                        >
                    </figure>
                </th>
                <td>
                    <figure class="figure p-0 m-0">
                        <img
                                id="logo-store"
                                class="figure-img img-fluid rounded"
                                src={{ store.product.photo }}
                        >
                    </figure>
                    {{ store.product.name }}
                </td>
                <td>S/ {{ store.product.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}