<!doctype html>
<html lang="es">
<meta charset="utf-8">

<head>
    {% block head %}
    <script src={{ url_for('compare_feature_blueprint.static', filename='js/index.js' , _external=True) }}></script>
    <link rel="stylesheet" href={{ url_for('compare_feature_blueprint.static', filename='css/index.css' ,
        _external=True) }}>
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        {% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Recipe Medico</h4>
                        <img class="rounded mx-auto d-block" src={{ "static/img/text.png" }} height="40%" width="40%">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Selecciona el texto que quieres comparar
                        </h4>
                    </div>
                    <div class="card-content m-3">
                        {% for item in recipe %}
                        <button class="btn btn-primary">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>