{% extends "layout.jinja2" %}
{% block content %}
<div class="media">
    <img class="rounded mx-auto d-block mh-100" src={{ url_for('process_recipe_blueprint.static', filename='uploads/' +
        img_filename) }} width="50%" alt={{ img_filename }}>
    <div class="media-body">
        <ul class="list-group">
            {% for word in lists.get("glossary_kywords") %}
            <a  href={{ url_for('compare_feature_blueprint.compara', _external = True, query=word) }}
            class="list-group-item list-group-item-action active">{{ word }}</a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}