{% extends "layout.jinja2" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1>Sube una receta</h1>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <label for="file">Selecciona el archivo:</label>
                            <input type="file" id="file" name="file" accept=".jpg, .png">
                            <br>
                            <button type="submit">Subir</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}