Flask
gunicorn
pytesseract
clean-text
Flask-SQLAlchemy
Flask-Migrate
python-decouple
python-dotenv
pytest
PyJWT
pluggy
packaging
MarkupSafe
itsdangerous
iniconfig
importlib-metadata
exceptiongroup
colorama
click
blinker
pytz
requests
alembic
beautifulsoup4
Flask-Redis
Flask-Caching