<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <!--Definición del bloque que contiene la cabecera -->
  {% block head %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>OCR Flask</title>
  {% endblock %}
</head>

<body>

  <!--Definición del bloque que contiene el menú -->
  {% block menu %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!--Muestra la variable titulo -->
        <a class="navbar-brand" href="#">{{ titulo }}</a></a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span>
    </button>
  </nav>
  {% endblock %}

  <br />
  <!--Definición del bloque que contendrá el contenido -->
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Recipe Medico</h4>
            <img class="rounded mx-auto d-block" src={{"static/img/text.png"}} height="40%" width="40%">
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Selecciona el texto que quieres comparar
          </h4>
        </div>
        <div class="card-content m-3" >
          {% for item in recipe %}
            <button class="btn btn-primary">{{item}}</button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <br />
